[Unit]
Description=OpenVPN Robust And Highly Flexible Tunneling Application On %I
After=syslog.target network.target

[Service]
PrivateTmp=true
Type=forking
PIDFile=/var/run/openvpn/%I.pid
ExecStart=/usr/sbin/openvpn --daemon --writepid /var/run/openvpn/%I.pid --cd /etc/openvpn/ --config %I.conf

[Install]
WantedBy=multi-user.target
