[Desktop Entry]
Name=WmCDPlay
Comment=Dockable CD player applet
Comment[pl]=Dokowalny aplet CD playera
Exec=wmcdplay
Type=Application
Encoding=UTF-8
Terminal=0
Categories=Application;Audio;
