# to update the database after changing this file, run:
# tcprules /etc/tcprules.d/tcp.qmail-qmqp.cdb /etc/tcprules.d/.tcp.qmail-qmqp.tmp < /etc/tcprules.d/tcp.qmail-qmqp

# For the full documentation on the format of this file,
# see http://cr.yp.to/ucspi-tcp/tcprules.html

#----------------------------------------------------------------

# QMQP is a bulk protocol and we don't want spam to ever come by it and it is
# intended to go between a few servers only so we don't trust any default
# people with it.
# see /etc/tcprules.d/tcp.qmail-smtp for more info

:deny
