# to update the database after changing this file, run:
# tcprules /etc/tcprules.d/tcp.qmail-pop3.cdb /etc/tcprules.d/.tcp.qmail-pop3.tmp < /etc/tcprules.d/tcp.qmail-pop3

# For the full documentation on the format of this file,
# see http://cr.yp.to/ucspi-tcp/tcprules.html

#----------------------------------------------------------------

# Allow any client to connect to us via POP3. If people are abusing POP3 such
# as denial-of-service on POP3, you can add their IP addresses here to block
# them out.
:allow
