#!/sbin/runscript
# Copyright 1999-2012 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/miredo/files/miredo.rc,v 1.3 2012/01/15 19:40:44 tove Exp $

depend() {
	need net
	use dns logger
}

start() {
	ebegin "Starting Miredo"
	test "${MIREDO_MODPROBE_IPV6}" = "yes" && modprobe ipv6
	test "${MIREDO_MODPROBE_TUN}" = "yes" && modprobe tun
	start-stop-daemon --start --quiet --exec /usr/sbin/miredo -- \
		${MIREDO_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping Miredo"
	start-stop-daemon --stop --quiet --pidfile /var/run/miredo.pid
	eend $?
}
