#!/sbin/runscript
# Copyright 1999-2012 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/net-misc/miredo/files/miredo-server.rc,v 1.2 2012/01/15 19:40:44 tove Exp $

depend() {
	need net
	use dns logger
}

start() {
	ebegin "Starting Miredo server"
	[ "${MIREDO_SERVER_MODPROBE_IPV6}" == "yes" ] && modprobe ipv6
	[ "${MIREDO_SERVER_MODPROBE_TUN}" == "yes" ] &&	modprobe tun
	start-stop-daemon --start --quiet --exec /usr/sbin/miredo-server -- \
		${MIREDO_SERVER_OPTS}
	eend $?
}

stop() {
	ebegin "Stopping Miredo server"
	start-stop-daemon --stop --quiet --pidfile /var/run/miredo-server.pid
	eend $?
}
