[Desktop Entry]
Name=Floating Gentoo Logo
Name[fr]=Logo Gentoo flottant
Comment=Bubbles the Gentoo logo around the screen
Comment[fr]=Le logo de Gentoo apparaît ça et là sur l'écran
Exec=/usr/libexec/gnome-screensaver/floaters /usr/share/pixmaps/gentoo-logo.svg
TryExec=/usr/libexec/gnome-screensaver/floaters
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;Screensaver;
OnlyShowIn=GNOME;
