[Unit]
After=network.target
Description=High-performance, distributed memory object caching system
Documentation=man:memcached(1)
Documentation=http://code.google.com/p/memcached/

[Service]
EnvironmentFile=/etc/conf.d/memcached
ExecStart=/usr/bin/memcached -p ${PORT} -u ${USER} -m ${CACHESIZE} -c ${MAXCONN} $OPTIONS

[Install]
WantedBy=multi-user.target
