#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/sys-apps/coldplug/files/coldplug.rc,v 1.3 2005/01/28 12:20:20 wolf31o2 Exp $

depend() {
	need modules
}

checkconfig() {
	if [ ! -d /etc/hotplug ] ; then
		eerror "Coldplug requires scripts & configs in /etc/hotplug !"
		return 1
	fi
}

start() {
	checkconfig || return 1

	# This unpacks any firmware tarballs.  Used for LiveCD.
	if [ -e /lib/firmware.tar.bz2 ]
	then
		ebegin "Unpacking hotplug firmware"
		tar xjf /lib/firmware.tar.bz2 -C /lib/firmware
		eend 0
	fi
	
	for RC in /etc/hotplug/*.rc
	do
		NAME=`basename $RC .rc`
		ebegin "Coldplugging $NAME devices"
		# We do not want to check the return status, as
		# some of the scripts may fail due to drivers not
		# compiled as modules ...
		$RC start
		eend 0
	done
}

