[Unit]
Description=A userspace logging daemon for netfilter/iptables related logging
Before=iptables.service ip6tables.service
After=mysql.service postgresql.service

[Service]
Type=simple
ExecStart=/usr/sbin/ulogd --uid ulogd --pidfile /run/ulogd.pid
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=network.target
