[Unit]
Description=ISATAP Client for Linux
After=network.target nss-lookup.target

[Service]
ExecStart=/usr/sbin/isatapd

[Install]
WantedBy=multi-user.target
