# Crontab sample for app-admin/sysstat
#
# 8am-7pm activity reports every 20 minutes during weekdays.
# 0 8-18 * * 1-5 /usr/lib/sa/sa1 -d 1200 3 &
# activity reports every 10 minutes everyday.
0 * * * * root /usr/lib/sa/sa1 -d 600 6
#
# Activity reports every an hour on Saturday and Sunday.
# 0 * * * 0,6 /usr/lib/sa/sa1 -d &
#
# 7pm-8am activity reports every an hour during weekdays.
# 0 19-7 * * 1-5 /usr/lib/sa/sa1 -d &
#
# Daily summary prepared at 19:05.
# 5 19 * * 1-5 /usr/lib/sa/sa2 -A &
5 19 * * * root /usr/lib/sa/sa2 -A
