#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License v2
# $Header: /var/cvsroot/gentoo-x86/games-server/tetrix/files/tetrix.rc,v 1.2 2004/07/14 22:23:28 agriffis Exp $

depend() {
	need net
}

start() {
	ebegin "Starting TetriNET Server"
	/usr/games/bin/tetrix -q
	eend $?
}

stop() {
	ebegin "Stopping TetriNET Server"
	[ -e /var/run/tetrix.pid ] && kill $(</var/run/tetrix.pid)
	eend $? "Could not kill tetrix server :("
}
