[Desktop Entry]
Name=HelpBlocks
Comment=HTML Help Editor for wxWidgets
Icon=helpblocks
Exec=/usr/bin/helpblocks
Terminal=false
Type=Application
Categories=Development;
