[Unit]
Description=Openswan IPSec

[Service]
Type=forking
ExecStart=/usr/sbin/ipsec setup start
ExecStop=/usr/sbin/ipsec setup stop

[Install]
WantedBy=multi-user.target
