[Desktop Entry]
Name=WmLoad
Comment=Simple network monitor
Comment[pl]=Prosty monitor sieci
Exec=wmload
Type=Application
Encoding=UTF-8
Terminal=0
Categories=Application;System;
