#!/sbin/runscript
# Copyright 1999-2004 Gentoo Foundation
# Distributed under the terms of the GNU General Public License, v2
# $Header: /var/cvsroot/gentoo-x86/sys-fs/quota/files/quota.rc,v 1.1 2004/10/03 10:28:05 vapier Exp $

depend() {
	need localmount
}

start() {
	ebegin "Starting Quota"
	if [ -x /sbin/quotacheck ]
	then
		echo "Checking quotas. This may take some time."
		/sbin/quotacheck -avug
		echo "Done."
	fi
	if [ -x /sbin/quotaon ]
	then
		echo "Turning on quota"
		/sbin/quotaon -avug
	fi
	eend $?
}

stop() {
	ebegin "Stopping quota"
	if [ -x /sbin/quotaoff ]
	then
		echo "Turning quota off"
		/sbin/quotaoff -avug
	fi
	eend $?
}
