[Desktop Entry]
Name=WmLpq
Comment=Printqueues monitor
Comment[pl]=Monitor kolejki drukarek
Exec=wmlpq
Type=Application
Encoding=UTF-8
Terminal=0
Categories=Application;System;
